.dark {
  background-image: $color-gradient-main;
  .sidebar__link,
  .sidebar__link::after {
    border-top: 0.4rem double $color-white;
    border-left: 0.4rem double $color-white;
  }

  .header__logo {
    color: $color-white;
  }

  .navbar {
    border-right: 2px solid $color-white;

    &__item {
      color: $color-white;

      &--active {
        border-bottom: 2px solid $color-white;
      }

      &:hover {
        transform: scale(1.05);
        border-bottom: 2px solid $color-white;
      }
    }
  }
}
