.dark {
  background-image: $color-gradient-main;
  .sidebar__link,
  .sidebar__link::after {
    border-top: 0.4rem double $color-white;
    border-left: 0.4rem double $color-white;
  }

  .header__logo {
    color: $color-white;
  }

  .navbar {
    &::after {
      content: "";
      display: inline-block;
      height: 50%;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;

      transform: translateY(50%);
      border-right: 2px solid $color-white;
      z-index: -1;
    }

    &__item {
      color: $color-white;

      &--active {
        border-bottom: 2px solid $color-white;
      }

      &:hover {
        transform: scale(1.05);
        border-bottom: 2px solid $color-white;
      }
    }
  }
}
