.dark {
  background-image: $color-gradient-main;
  .sidebar__link,
  .sidebar__link::after {
    border-top: 0.2rem double $color-white;
    border-left: 0.2rem double $color-white;
  }

  .header__logo {
    color: $color-white;
  }

  .navbar {
    &::after {
      content: "";
      display: inline-block;
      height: 35%;
      width: 100%;
      position: absolute;
      top: 50%;
      left: 0;

      transform: translateY(-50%);
      border-right: 1px solid $color-white;
      z-index: -1;
    }

    &__item {
      color: $color-white;

      &--active {
        border-bottom: 1px solid $color-white;
      }

      &:hover {
        transform: scale(1.05);
        border-bottom: 1px solid $color-white;
      }
    }
  }

  .loading__spinner {
    border: $spinner-thickness solid $color-white;
    border-right-color: transparent;
  }
}
