.light {
  background-image: $color-white;

  .sidebar__link,
  .sidebar__link::after {
    border-top: 0.2rem double $color-primary-dark;
    border-left: 0.2rem double $color-primary-dark;
    // border-width: thin;
  }

  .header__logo {
    background-image: $color-gradient-main;
    display: inline-block;
    background-clip: text;
    color: transparent;
  }

  .navbar {
    &::after {
      content: "";
      display: inline-block;
      height: 35%;
      width: 100%;
      position: absolute;
      top: 50%;
      left: 0;

      transform: translateY(-50%);
      border-right: 1px solid $color-primary-light;
      z-index: -1;
    }

    &__item {
      background-image: $color-gradient-main;
      display: inline-block;
      background-clip: text;
      color: transparent;

      &--active {
        border-bottom: 1px solid $color-primary-dark;
      }

      &:hover {
        transform: scale(1.05);
        border-bottom: 1px solid $color-primary-dark;
      }
    }
  }
}
