/* For easier rem management, now 10px = 1rm */
html {
  font-size: 62.5%; /* Con respecto al browser, default = 16px  */
}

*,
*::after,
*::before {
  margin: 0px;
  padding: 0px;
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
  height: 100vh;
}

main {
  position: relative;
  height: 104vh;
}

section {
  position: absolute;
  top: 0;
  left: 0;
}
