.about {
  &-content {
    width: 80%;
    height: 76%;
    background-image: $color-gradient-main;
    padding: 2rem;

    @include media-query(1100) {
      padding: 2rem 1rem;
      margin-left: -4rem;
    }

    @include media-query(1700) {
      margin-left: 4rem;
    }

    @include absCenter;
    display: flex;
    position: relative;

    &__text-box {
      width: 50%;
      height: 100%;
      background-color: transparent;
      margin-right: 2%;
      padding: 2rem;
      padding-top: 0;
      color: $color-white;

      &__title {
        font-weight: 800;
        text-transform: uppercase;
        text-align: center;
        letter-spacing: 4px;
        margin-bottom: 1rem;

        @include media-query(1100) {
          font-size: 2rem;
        }

        @include media-query(1000) {
          font-size: 1.6rem;
        }

        @include media-query(1500) {
          font-size: 2.4rem;
        }

        @include media-query(1700) {
          font-size: 2.55rem;
        }

        @include media-query(2100) {
          font-size: 2.85rem;
        }

        @include media-query(2300) {
          font-size: 3rem;
        }
      }

      &__paragraph {
        text-align: left;

        @include media-query(1500) {
          font-size: 1.3rem;
        }

        @include media-query(1700) {
          font-size: 1.5rem;
        }

        @include media-query(2100) {
          font-size: 1.7rem;
        }

        &:not(:last-child) {
          margin-bottom: 1rem;
        }
      }
    }

    &__img-box {
      width: 45%;
      height: 97%;
      box-shadow: 1rem 1rem 0 $color-white;
      overflow: hidden;

      &__img {
        width: 100%;
        background-size: cover;
      }
    }
  }
}
