.experience {
  &-content {
    position: absolute;
    top: 60%;
    transform: translateY(-50%);

    width: 95%;
    height: 94%;

    @include media-query(1000) {
      margin-left: -4rem;
    }
  }
}
