.skills {
  &-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid $color-primary-dark;
    box-shadow: 1rem 1rem 0 $color-primary-dark;
    padding: 3rem 4rem;
    color: $color-primary-dark;
    font-size: 1.4rem;
    border-radius: 2px;
    width: 50%;

    @include media-query(1100) {
      padding: 2rem 3rem;
    }

    &__section {
      position: relative;
      margin-bottom: 2rem;

      &__title {
        display: block;
        margin-bottom: 1.4rem;
        text-transform: uppercase;
        font-weight: 600;
        position: relative;

        @include media-query(1100) {
          font-size: 1.4rem;
        }

        @include media-query(1000) {
          font-size: 1.2rem;
        }

        @include media-query(1700) {
          font-size: 1.8rem;
        }

        @include media-query(2100) {
          font-size: 2.2rem;
        }

        &::after {
          content: "";
          display: inline-block;
          position: absolute;
          top: 2.6rem;
          left: -1rem;
          width: 4rem;
          height: 0.2rem;
          background-color: $color-primary-dark;

          @include media-query(1100) {
            top: 2.4rem;
          }

          @include media-query(1000) {
            top: 2rem;
          }

          @include media-query(1700) {
            top: 3rem;
          }

          @include media-query(2100) {
            top: 3.3rem;
          }
        }
      }

      &__list {
        padding-left: 4rem;
        column-count: 2;
        column-gap: 2rem;
        column-width: 8rem;

        &__item {
          font-weight: 400;
          font-size: 1.2rem;

          @include media-query(1100) {
            font-size: 1rem;
          }

          @include media-query(1000) {
            font-size: 0.8rem;
          }

          @include media-query(1700) {
            font-size: 1.4rem;
          }

          @include media-query(2100) {
            font-size: 1.6rem;
          }
        }
      }
    }
  }
}
