.whatido {
  top: 19rem;
  left: 30rem;

  &__content {
    position: absolute;

    width: 140rem;
    height: 60vh;
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    padding-top: 8.3rem;
  }
}
