.whatido {
  &__content {
    position: absolute;
    top: 45%;
    left: 44%;
    transform: translate(-45%, -50%);

    width: 80vw;
    height: 60vh;
    // background-color: lightseagreen;
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    padding-top: 8.3rem;
  }
}
