<section
  class="about"
  [ngClass]="{
    'scroll-up': scrollDirection === 'up',
    'scroll-down': scrollDirection === 'down'
  }"
>
  <div class="content" *ngIf="!loading">
    <div class="about-content">
      <div class="about-content__text-box">
        <h2 class="about-content__text-box__title">About Me</h2>
        <p
          class="about-content__text-box__paragraph"
          *ngFor="let paragraph of data"
        >
          {{ paragraph }}
        </p>
      </div>

      <div class="about-content__img-box">
        <img
          class="about-content__img-box__img"
          src="https://picsum.photos/600"
          alt="Myself picture"
        />
      </div>
    </div>
  </div>
  <app-loading *ngIf="loading"></app-loading>
</section>
