.header {
  position: sticky;
  display: flex;
  top: 0;
  height: 8vh;
  padding-left: 3rem;
  padding-top: 1rem;

  z-index: 10;
  background-color: transparent;

  &__logo {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    letter-spacing: 2px;
    transition: all 0.2s;

    &:hover {
      transform: scale(1.05);
    }
  }
}
