.project-card {
  background-color: $color-white;
  border-radius: 0.3rem;
  box-shadow: 0rem 0rem 1rem 0.3rem rgba($color-black, 0.15);
  position: absolute;
  padding: 1rem;

  &__wrapper {
    z-index: 1;
  }

  &--left {
    top: 4rem;
    left: 4rem;
    width: 40%;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 2rem;

    @include media-query(1100) {
      top: 0;
      left: 0;
    }

    @include media-query(1700) {
      left: 10rem;
    }

    &::after {
      content: "";
      display: inline-block;
      position: absolute;
      top: 0;
      left: 0;
      width: 3.2rem;
      height: 3.2rem;
      border-radius: 20rem;
      background-image: $color-gradient-main;
      transform: translate(-50%, -50%);
      z-index: -1;
    }

    &::before {
      content: "";
      display: inline-block;
      position: absolute;
      top: 0.8rem;
      left: 0.8rem;
      border-radius: 0.3rem;
      background-image: $color-gradient-main;
      width: 100%;
      height: 100%;
      z-index: -1;
      // animation: pseudoDelay 0.2s 0.3s backwards;
    }
  }

  &--right {
    top: 8rem;
    right: 4rem;
    width: 45%;
    padding: 0rem;

    @include media-query(1100) {
      top: 0;
    }

    @include media-query(1700) {
      right: 0;
    }

    &::after {
      content: "";
      display: inline-block;
      position: absolute;
      top: 0;
      right: 0;
      width: 5.5rem;
      height: 5.5rem;
      border-radius: 20rem;
      background-image: $color-gradient-main;
      transform: translate(50%, -50%);
      z-index: -1;

      @include media-query(1100) {
        width: 4rem;
        height: 4rem;
      }
    }

    &::before {
      content: "";
      display: inline-block;
      position: absolute;
      top: 0.8rem;
      left: -0.8rem;
      border-radius: 0.3rem;
      background-image: $color-gradient-main;
      width: 100%;
      height: 100%;
      z-index: -1;
      transform: rotate(180deg);
    }
  }

  &--down {
    bottom: 0rem;
    left: 7rem;
    max-width: 55%;
    padding: 1rem 2rem;
    // height: 35rem;

    @include media-query(1100) {
      left: 2rem;
    }

    @include media-query(1700) {
      left: 12rem;
    }

    @include media-query(2100) {
      max-width: 64%;
    }

    &::after {
      content: "";
      display: inline-block;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 2.5rem;
      height: 2.5rem;
      border-radius: 20rem;
      background-image: $color-gradient-main;
      transform: translate(-50%, 50%);
      z-index: -1;
    }

    &::before {
      content: "";
      display: inline-block;
      position: absolute;
      top: -0.8rem;
      left: 0.8rem;
      border-radius: 0.3rem;
      background-image: $color-gradient-main;
      width: 100%;
      height: 100%;
      z-index: -1;
    }
  }

  &__title {
    display: inline;
    color: $color-white;
    background-image: $color-gradient-main;
    text-transform: capitalize;
    font-size: 3.2rem;
    font-weight: 400;
    padding: 0;
    padding-left: 0.8rem;
    padding-right: 4rem;
    text-align: left;
    letter-spacing: 0.1rem;

    @include media-query(1100) {
      font-size: 2.6rem;
    }

    @include media-query(1000) {
      font-size: 2.2rem;
    }

    @include media-query(1500) {
      font-size: 3.4rem;
    }
  }

  &__subtitle {
    display: inline-block;
    text-transform: capitalize;
    font-size: 2rem;
    font-weight: 400;
    color: $color-primary-dark;
    margin-bottom: 1.8rem;

    @include media-query(1100) {
      font-size: 1.8rem;
    }

    @include media-query(1700) {
      font-size: 2.4rem;
    }

    @include media-query(2100) {
      font-size: 2.6rem;
    }

    &::after {
      content: "";
      display: block;
      position: relative;
      height: 0.2rem;
      width: 5rem;
      margin-top: -0.5rem;
      background-color: $color-primary-dark;

      @include media-query(1100) {
        margin-top: 0;
      }
    }
  }

  &__description {
    margin-top: 1.4rem;
    margin-bottom: 1.4rem;
    color: $color-primary-dark;

    @include media-query(1100) {
      margin-top: 1.2rem;
    }
  }

  &__link {
    &:link,
    &:visited {
      text-decoration: none;
      display: inline-block;
      background-color: $color-primary-light;
      color: $color-white;
      font-size: 1.4rem;
      padding: 0.2rem 0.6rem;

      @include media-query(1100) {
        font-size: 1.2rem;
      }

      @include media-query(1000) {
        font-size: 0.8rem;
      }

      @include media-query(1700) {
        font-size: 1.6rem;
      }

      @include media-query(2100) {
        font-size: 1.8rem;
      }
    }

    &:active {
      transform: translateY(2rem);
    }

    &:hover {
      background-color: darken($color-primary-light, 5);
      transform: translateY(-0.2rem);
    }
  }

  &__image-box {
    width: 100%;
    overflow: hidden;
    border-radius: 0.2rem;
    height: 25rem;

    @include media-query(1100) {
      height: 22rem;
    }

    @include media-query(1000) {
      height: 19rem;
    }

    @include media-query(1700) {
      height: 30rem;
    }

    @include media-query(2100) {
      height: 40rem;
    }
  }

  &__image {
    height: 100%;
    width: 100%;
    object-fit: fill;
  }

  &__list {
    list-style: inside;
    list-style-type: square;
    font-size: 1rem;
    color: $color-primary-dark;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0 3rem;
    grid-template-areas: ". .";

    &-item {
      margin-bottom: 0.4rem;
    }

    @include media-query(1000) {
      font-size: 0.8rem;
    }

    @include media-query(1500) {
      font-size: 1.2rem;
    }

    @include media-query(1700) {
      font-size: 1.4rem;
    }

    @include media-query(2100) {
      font-size: 1.6rem;
    }
  }
}
