.sidebar {
  position: fixed;
  top: 0rem;
  right: 0rem;
  width: $sidebar-width;
  height: 102vh;
  display: flex;
  justify-content: center;
  z-index: 10;

  &__link {
    text-align: center;
    width: 2rem;
    height: 2rem;

    &::after {
      content: "";
      display: inline-block;
      height: 100%;
      width: 100%;
      margin-top: 0.5rem;
      margin-left: 0.5rem;
    }

    &--up {
      position: absolute;
      top: 2rem;
      transform: rotate(45deg);

      &:active {
        transform: scale(1.05) translateY(0.7rem) rotate(45deg);
      }

      &:hover {
        transform: scale(1.1) rotate(45deg);
      }
    }

    &--down {
      position: absolute;
      bottom: 3rem;
      transform: rotate(-135deg);

      &:active {
        transform: scale(1.05) translateY(0.7rem) rotate(-135deg);
      }

      &:hover {
        transform: scale(1.1) rotate(-135deg);
      }
    }

    &--main {
      position: fixed;
      bottom: 3rem;
      right: 50%;
      transform: rotate(-135deg) scale(1.5);

      &:hover {
        animation: none;
        transform: rotate(-135deg) scale(1.8);
      }

      &:not(:hover) {
        animation: blink 2s infinite;
        animation-delay: 11s;
        animation-fill-mode: backwards;
      }
    }
  }
}
