.sidebar {
  position: fixed;
  top: 0rem;
  right: 0rem;
  width: $sidebar-width;
  height: 102vh;
  display: flex;
  justify-content: center;
  z-index: 10;

  @include media-query(1100) {
    width: $sidebar-width * 0.8;
  }

  @include media-query(2100) {
    width: $sidebar-width * 1.2;
  }

  &__link {
    text-align: center;
    width: 2rem;
    height: 2rem;

    @include media-query(1100) {
      width: 1.6rem;
      height: 1.6rem;
    }

    @include media-query(1700) {
      width: 2.5rem;
      height: 2.5rem;
    }

    @include media-query(2300) {
      width: 3rem;
      height: 3rem;
    }

    &::after {
      content: "";
      display: inline-block;
      height: 100%;
      width: 100%;
      margin-top: 0.5rem;
      margin-left: 0.5rem;
    }

    &--up {
      position: absolute;
      top: 2rem;
      transform: rotate(45deg);

      &:active {
        transform: scale(1.05) translateY(0.7rem) rotate(45deg);
      }

      &:hover {
        transform: scale(1.1) rotate(45deg);
      }
    }

    &--down {
      position: absolute;
      bottom: 3rem;
      transform: rotate(-135deg);

      @include media-query(1900) {
        bottom: 4rem;
      }

      &:active {
        transform: scale(1.05) translateY(0.7rem) rotate(-135deg);
      }

      &:hover {
        transform: scale(1.1) rotate(-135deg);
      }
    }

    &--main {
      position: fixed;
      bottom: 3rem;
      right: 50%;
      transform: rotate(-135deg) scale(1.5);

      @include media-query(2300) {
        bottom: 4rem;
      }

      &:hover {
        animation: blink 2s infinite;
        transform: rotate(-135deg) scale(1.8);
      }

      &:not(:hover) {
        animation: blink 2s infinite;
        animation-delay: 11s;
        animation-fill-mode: backwards;
      }
    }
  }
}
