.typing-box {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40rem;

  @include media-query(1700) {
    width: 50rem;
  }

  @include media-query(2100) {
    width: 55rem;
  }

  @include media-query(2200) {
    width: 60rem;
  }
}

.typing {
  font-family: "Courier Prime", monospace;
  font-size: 1.8rem;
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  color: $color-white;

  border-right: 2px solid $color-white;
  box-sizing: border-box;
  padding-right: 4px;
  height: 2.3rem;

  @include media-query(1100) {
    font-size: 1.5rem;
    height: 2rem;
  }

  @include media-query(1700) {
    font-size: 2rem;
    height: 2.7rem;
  }

  @include media-query(2200) {
    font-size: 2.5rem;
    height: 3rem;
  }
}

.blink {
  animation: typingBlink 0.75s step-end infinite;
}

.not-last {
  border-right: none;
}

@keyframes typingBlink {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: $color-white;
  }
}
