.content {
  position: absolute;
  left: 16rem; // navbar width
  top: 5rem; // header height
  width: 84%;
  height: 85%;
  padding: 2rem 3rem;

  @include media-query(700) {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    padding: 2rem 3rem;
  }
}
